.all-notes-title {
    height: 50px;
    margin-top: 30px;
    margin-left: 11px;
    font-family: roboto;
    text-transform: capitalize !important;
}

.back-to-dashboard {
    margin-top: 20px !important;
}