.ind-payments {
    height: 50px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: floralwhite;
    box-shadow: 5px 5px 5px grey;
    width: 75vw;
    margin: auto;
    padding: 7px;
    border: 1px solid black;
}

.payments-back-right {
    float: right;
}