.add {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 10px;
    
}

.addstudent {
    
    border: 1px;
    background: bisque;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize !important;
}

.allnotes {
   
    border: 1px;
    background: bisque;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize !important;

}

.allPayments {
    text-transform: capitalize !important;
}

.students {
    display: flex;
    flex-direction: column;
    height: 300px;

    
    
}

.student {
    height: 50px;
    margin-top: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    
    div {
        display: flex;
        align-items: center;
       
    }
}

.studentName {
    font-family: 'Roboto';  
}

