@import "./../fontawesome.scss";
@import "./../solid.scss";

.top-section {
    display: flex;
}

.notes-payments {
    margin-top: 83px;
    margin-left: 29px;

}

.all-notes-button {
    height: 80px;
    width: 36vw;
    margin-top: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: floralwhite ;   
    box-shadow: 5px 5px 5px grey;
}

.all-notes-button:hover {
    background: rgb(203, 200, 200);
    color: green;
}

.all-payments-button:hover {
    background: rgb(203, 200, 200);
    color: green;
}

.all-payments-button {
    height: 80px;
    width: 36vw;
    margin-top: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: floralwhite ;   
    box-shadow: 5px 5px 5px grey;

}

.button-icons {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

.usersNotes {
    position: flex;
    background: aliceblue;
    width: 50%;
    height: 83px;
    position: fixed; 
    margin-left: 100px; 
    top: 0%;
    z-index: 99 !important;
}

.notes, .info, .delete, .payments {
    display: none;
    
}

.payments {
    color: green !important;
}



.add {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 10px;
    
}

.students {
    display: flex;
    flex-direction: column;
    width: 100vw 
}

.all_students {
    margin-top: 56px;
    margin-left: 10px;
}

.student {
    height: 50px;
    width: 97vw;
    margin-top: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: floralwhite ;   
    box-shadow: 5px 5px 5px grey;

    
    div {
        display: flex;
        align-items: center;
    }
}

.welcome-title {
    font-size: 30px;
    margin-top: 16px;
}

.studentName {
    font-family: 'Roboto';  
    font-size: 15px;
    margin: 20px;
}

.add-students-hidden {
    display: none;
}



.notes, .info, .delete, .payments, .notes-button, .info-button, .delete-button, .payments-button {
   @include smallbutton;
   min-width: 40px;
}

.fa-sticky-note { 
    color: rgb(0, 0, 187);
}

.fa-arrow-right {
    color: rgb(15, 218, 15);
    animation: colorchange 1s;
    animation-iteration-count: infinite;
    
}

@keyframes colorchange {
    0% {color:rgb(1, 126, 1);}
    50% {color: rgb(152, 255, 152);}
    100% {color:rgb(1, 126, 1);}
}

.fa-arrow-left {
    color:  rgb(15, 218, 15);
    animation: colorchange 1s;
    animation-iteration-count: infinite;
}

.fa-info-circle {
    color: rgb(255, 98, 0);
}

.fa-trash-alt {
    color: rgb(177, 0, 0);
}

.fa-dollar-sign {
    color: green;
  }


@media (min-width: 550px){
    .button-icons {
        margin: 41px;
    }


    .dashboard {
        display: flex;
    }
    
    .add {
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        background: slategrey;
        width: 200px;
        align-items: center;
    }

    %dash-icons {
        display: flex;
        justify-content: center; 
        font-size: 12px; 
    }
    
    .notes {
        @extend %dash-icons;
        color: rgb(0, 0, 187);
    }
    .info {
        @extend %dash-icons;
        color: rgb(255, 98, 0);  
    }
   
    .delete {
        @extend %dash-icons;
        color: rgb(177, 0, 0);
        
    }
    .fa-sticky-note {
        display: none; 
    }

    .fa-info-circle {
        display: none;;
    }

    .fa-trash-alt {
        display: none;
    }

    .fa-dollar-sign {
        display: none;
    }
    .payments {
        display: flex;
        justify-content: center; 
        font-size: 12px;
       
    }
   
    .notes-button, .info-button, .delete-button, .payments-button {
        width: 84px !important;
    }

}

@media (min-width: 750px){
    .notes, .info, .delete, .payments {
        font-size: 15px;
    }
    .student {
        width: 750px;
    }
    .all-notes-button {
        width: 303.47px;
    }
    .all-payments-button {
        width: 303.47px;
    }
    .top-section {
        width: 760px;
    }
    .todays-students {
        width: 343px;
    }
}






