.add {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.addstudent {
    
    border: 1px;
    background: bisque;
    height: 40px;
}

.allnotes {
   
    border: 1px;
    background: bisque;
    height: 40px;
}

.students {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

