.fa-bars {
    background: #163669;
    color: $primary-color;
    margin-left: 10px;
    font-size: 40px;
}



.hamburger {
    display: flex;
    border-radius: 5px;
    width: 20px;
    height: 2px;
    background-color: $primary-color;
    margin: 4px -3px;

    
}


.addstudent, .schedule, .allnotes, .allPayments, .logout-left, .home {
    font-size: 16px !important;
    
}

.side-list {
    display: flex;
    flex-direction: column;
}

.left-drawer {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: baseline;
    height: 500px;
    justify-content: space-evenly;
}

.logout-left {
    color: black;
    font-size: 16px !important;
    align-items: baseline;
}


.pic {
    border-radius: 40px;
    margin-top: 0px;
    height: 55px;
    margin-left: 0px;
}

.pic-drawer {
    border-radius: 40px;
    margin-top: 0px;
    height: 55px;
    margin-left: 13px;
}


.nav {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100vw;
    height: 76px;
    background-color:  #163669;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-color;
}

.button {
    text-transform: capitalize
}

.welcome {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 5px;
}

#logout {
  
    font-family: 'Montserrat', sans-serif;
    color: beige !important;
    @include smallbutton;
    

}

.title-drawer {
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

.title {
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

.date {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

@media (min-width: 550px){
    .welcome {
        display: flex;
    }
    .title {
        font-size: 30px;
    }
    .date {
        display: flex;
        font-size: 15px;
    }
    .welcome {
        font-size: 15px;
    }
   
}

@media (min-width: 750px){
    .navbar {
        width: 750px;
    }
    .dashboard {
        width: 750px;
    }
  
}
