.navbar {
    width: 100vw;
    height: 50px;
    background-color:  #163669;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: bisque;
    
    


}

.welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.logout {
    color: bisque;
}

.title {
    font-family: 'Dosis', sans-serif;
}

