/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.add-info-title {
  height: 50px;
  margin-top: 30px;
  margin-left: 11px;
  font-family: roboto;
  text-transform: capitalize !important; }

.student-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.first_name, .last_name, .email, .phone {
  width: 60vw !important; }

.rc-time-picker-input {
  width: 40% !important; }

.day, .time {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 10px;
  width: 50vw; }

.nav-buttons {
  margin-top: 20px;
  float: right;
  margin-right: 40px; }

@media (min-width: 550px) {
  .rc-time-picker-input {
    width: 30% !important; } }

@media (min-width: 750px) {
  .rc-time-picker-input {
    width: 25% !important; } }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: #163669;
  height: 100vh;
  width: 100vw;
  justify-content: center; }

.login-button {
  text-transform: capitalize !important;
  background-color: white !important; }

img {
  height: 79px;
  margin: -101px 1px 1px -362px; }

.logo {
  display: flex;
  color: white;
  font-size: 47px;
  padding: 37px;
  font-family: 'Dosis', sans-serif;
  margin-left: 30px; }

.slogan {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: -16px -126px 50px 100px;
  text-transform: uppercase; }

.button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid;
  color: white; }
  .button button {
    background: none;
    font-size: 30px;
    color: white;
    border: none; }

.button-icons {
  display: flex; }

h1 {
  display: flex;
  justify-content: center; }

.usersNotes {
  position: flex;
  background: aliceblue;
  width: 50%;
  height: 83px;
  position: fixed;
  margin-left: 100px;
  top: 0%;
  z-index: 99 !important; }

.notes, .info, .delete, .payments {
  display: none; }

.payments {
  color: green !important; }

.add {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-top: 10px; }

.students {
  display: flex;
  flex-direction: column;
  width: 100vw; }

.student {
  height: 50px;
  width: 97vw;
  margin-top: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: floralwhite;
  box-shadow: 5px 5px 5px grey; }
  .student div {
    display: flex;
    align-items: center; }

.studentName {
  font-family: 'Roboto';
  font-size: 17px;
  margin: 20px; }

.notes, .info, .delete, .payments, .notes-button, .info-button, .delete-button, .payments-button {
  text-transform: capitalize !important;
  width: 67px;
  min-width: 40px; }

.fa-sticky-note {
  color: #0000bb; }

.fa-info-circle {
  color: #ff6200; }

.fa-trash-alt {
  color: #b10000; }

.fa-dollar-sign {
  color: green; }

@media (min-width: 550px) {
  .button-icons {
    margin: 41px; }
  .dashboard {
    display: flex; }
  .add {
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: slategrey;
    width: 200px;
    align-items: center; }
  .notes {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #0000bb; }
  .info {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #ff6200; }
  .delete {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #b10000; }
  .fa-sticky-note {
    display: none; }
  .fa-info-circle {
    display: none; }
  .fa-trash-alt {
    display: none; }
  .fa-dollar-sign {
    display: none; }
  .payments {
    display: flex;
    justify-content: center;
    font-size: 12px; }
  .notes-button, .info-button, .delete-button, .payments-button {
    width: 84px !important; } }

@media (min-width: 750px) {
  .notes, .info, .delete, .payments {
    font-size: 15px; }
  .student {
    width: 750px; } }

.fa-bars {
  background: #163669;
  color: bisque;
  margin-left: 10px;
  font-size: 40px; }

.hamburger {
  display: flex;
  border-radius: 5px;
  width: 20px;
  height: 2px;
  background-color: bisque;
  margin: 4px -3px; }

.addstudent, .schedule, .allnotes, .allPayments, .logout-left, .home {
  font-size: 16px !important; }

.side-list {
  display: flex;
  flex-direction: column; }

.left-drawer {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: baseline;
  height: 500px;
  justify-content: space-evenly; }

.logout-left {
  color: black;
  font-size: 16px !important;
  align-items: baseline; }

.pic {
  border-radius: 40px;
  margin-top: 0px;
  height: 55px;
  margin-left: 0px; }

.pic-drawer {
  border-radius: 40px;
  margin-top: 0px;
  height: 55px;
  margin-left: 13px; }

.nav {
  display: flex;
  justify-content: center; }

.navbar {
  width: 100vw;
  height: 76px;
  background-color: #163669;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: bisque; }

.button {
  text-transform: capitalize; }

.welcome {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding: 5px; }

#logout {
  font-family: 'Montserrat', sans-serif;
  color: beige !important;
  text-transform: capitalize !important;
  width: 67px; }

.title-drawer {
  margin-left: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 22px; }

.title {
  margin-left: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 22px; }

.date {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

@media (min-width: 550px) {
  .welcome {
    display: flex; }
  .title {
    font-size: 30px; }
  .date {
    display: flex;
    font-size: 15px; }
  .welcome {
    font-size: 15px; } }

@media (min-width: 750px) {
  .navbar {
    width: 750px; }
  .dashboard {
    width: 750px; } }

div {
  font-family: 'Roboto'; }

.notes-name {
  margin-top: 10px; }

.multiline-flexible {
  width: 71%; }

.main-notes {
  margin: 15px; }

.notes-container {
  display: flex;
  justify-content: space-between; }

.d_firstname, .d_lastname, .d_email, .d_phone, .d_day, .d_time {
  height: 50px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: floralwhite;
  box-shadow: 5px 5px 5px grey;
  width: 75vw;
  margin: auto;
  padding: 7px;
  border: 1px solid black;
  font-size: 12px; }

.d_textfield {
  width: 50%; }

.navbuttons {
  margin-top: 20px; }

.page-numbers {
  display: flex;
  justify-content: space-around; }

.payments-pages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px; }

.ind-payments {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.payment {
  display: flex;
  margin: 11px; }

.numbers:focus {
  background: yellow !important; }

.reminder {
  text-transform: capitalize !important;
  width: 67px; }

.schedule-header {
  height: 50px;
  margin-top: 30px;
  margin-left: 11px;
  font-family: roboto; }

.todays-students {
  height: 50px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: floralwhite;
  box-shadow: 5px 5px 5px grey;
  width: 75vw;
  margin: auto;
  padding: 7px;
  border: 1px solid black; }

.back-button {
  margin-top: 40px !important; }

.all-notes-title {
  height: 50px;
  margin-top: 30px;
  margin-left: 11px;
  font-family: roboto;
  text-transform: capitalize !important; }

.back-to-dashboard {
  margin-top: 20px !important; }

.ind-payments {
  height: 50px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: floralwhite;
  box-shadow: 5px 5px 5px grey;
  width: 75vw;
  margin: auto;
  padding: 7px;
  border: 1px solid black; }

.payments-back-right {
  float: right; }

.bar-chart {
  width: 100vw; }
