/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mon:focus {
  background: yellow !important; }

.tue:focus {
  background: yellow !important; }

.wed:focus {
  background: yellow !important; }

.thu:focus {
  background: yellow !important; }

.fri:focus {
  background: yellow !important; }

.sat:focus {
  background: yellow !important; }

.sun:focus {
  background: yellow !important; }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: #163669;
  height: 100vh;
  justify-content: center; }

img {
  height: 79px;
  margin: -101px 1px 1px -310px; }

.logo {
  display: flex;
  color: white;
  font-size: 47px;
  padding: 37px;
  font-family: 'Dosis', sans-serif;
  margin-left: 30px; }

.slogan {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: -10px -120px 50px 100px;
  text-transform: uppercase; }

.button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid;
  color: white; }
  .button button {
    background: none;
    font-size: 30px;
    color: white;
    border: none; }

.notes, .info, .delete, .payments {
  display: none; }

.add {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-top: 10px; }

.addstudent, .schedule, .allnotes, .allPayments {
  font-size: 10px !important;
  text-transform: capitalize !important; }

.students {
  display: flex;
  flex-direction: column;
  height: 300px; }

.student {
  height: 50px;
  margin-top: 10px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: floralwhite;
  box-shadow: 5px 5px 5px grey; }
  .student div {
    display: flex;
    align-items: center; }

.studentName {
  font-family: 'Roboto';
  font-size: 17px; }

.notes, .info, .delete, .payments, .notes-button, .info-button, .delete-button, .payments-button {
  text-transform: capitalize !important;
  width: 67px;
  min-width: 40px; }

@media (min-width: 414px) {
  .notes {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .info {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .delete {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .fa-sticky-note {
    display: none; }
  .fa-info-circle {
    display: none; }
  .fa-trash-alt {
    display: none; }
  .fa-dollar-sign {
    display: none; }
  .payments {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .notes-button, .info-button, .delete-button, .payments-button {
    width: 84px !important; } }

.navbar {
  width: 100vw;
  height: 50px;
  background-color: #163669;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: bisque; }

.welcome {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding: 5px; }

#logout {
  font-family: 'Montserrat', sans-serif;
  color: beige !important;
  text-transform: capitalize !important;
  width: 67px; }

.title {
  margin-left: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px; }

.date {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

@media (min-width: 414px) {
  .welcome {
    display: flex; } }

div {
  font-family: 'Roboto'; }

.page-numbers {
  display: flex;
  justify-content: space-around; }

.payments-pages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px; }

.ind-payments {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.payment {
  display: flex;
  margin: 11px; }

.numbers:focus {
  background: yellow !important; }
