.page-numbers {
    display: flex;
    
  
}

.payments-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
 
}

.payments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.payment {
    display: flex;
    
}
