.page-numbers {
    display: flex;
    justify-content: space-around; 
}

.payments-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 24px;
    
 
}

.ind-payments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.payment {
    display: flex;
    margin: 11px;
    
}

.numbers:focus {
    background: yellow !important;
}

