div {
    font-family: 'Roboto';
}

.notes-name {
    margin-top: 10px;
}



.multiline-flexible {
    width: 71%;
}

.main-notes {
    margin: 15px;
    width: 90vw;
}

.notes-container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 750px){
    .main-notes {
        width: 747px;
    }
}