.mon:focus {
    background: yellow !important;
}

.tue:focus {
    background: yellow !important;
}
.wed:focus {
    background: yellow !important;
}
.thu:focus {
    background: yellow !important;
}
.fri:focus {
    background: yellow !important;
}
.sat:focus {
    background: yellow !important;
}
.sun:focus {
    background: yellow !important;
}

