.add-info-title {
    height: 50px;
    margin-top: 30px;
    margin-left: 11px;
    font-family: roboto;
    text-transform: capitalize !important;
}

.student-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_name, .last_name, .email, .phone {
    width: 60vw !important;
}

.rc-time-picker-input {
    width: 40% !important;
}

.day, .time {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 10px;
    width: 50vw;
}

.nav-buttons {
    margin-top: 20px;
    float: right;
    margin-right: 40px;
}

@media (min-width: 550px){
    .rc-time-picker-input {
        width: 30% !important;
    }
}

@media (min-width: 750px){
    .rc-time-picker-input {
        width: 25% !important;
    }
}
