.reminder {
    @include smallbutton;
    color: rgb(255, 132, 0) !important;
}

.schedule-header {
    height: 50px;
    margin-top: 30px;
    margin-left: 11px;
    font-family: roboto;
}

.todays-students {
    height: 50px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: floralwhite;
    box-shadow: 5px 5px 5px grey;
    width: 90vw;
    margin: auto;
    padding: 7px;
    border: 1px solid black;
}

.back-button {
   
    margin-top: 40px !important;
}

@media (min-width: 750px){
    .todays-students {
        width: 730px;
    }
}