

.login {
    display: flex;
	flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #163669;
    height: 100vh;
    justify-content: center;
    
}

.login-button {
    text-transform: capitalize !important;
    background-color: white !important;
}

img {
    height: 79px;
    margin: -101px 1px 1px -362px;
}

.logo {
    
    display: flex;
    color: white;
    font-size: 47px;
    padding: 37px;
    font-family: 'Dosis', sans-serif;
    margin-left: 30px;


    
}

.slogan {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: -16px -126px 50px 100px;
    text-transform: uppercase;
}


.button {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid;
    color: white;
   

    button {
        background: none;
        font-size: 30px;
        color: white;
        border: none;
    }
}


